.frame-child,
.group-child {
  position: absolute;
  top: 3px;
  left: 23px;
  background-color: var(--color-seashell);
  width: 1600px;
  height: 837px;
}
.group-child {
  top: 0;
  left: 0;
  border-radius: var(--br-8xs);
  background-color: var(--color-darkorange);
  width: 150px;
  height: 64px;
}
.hire-me {
  position: absolute;
  top: 18px;
  left: 36px;
}
.portfolio-blog,
.rectangle-group {
  position: absolute;
  font-size: var(--font-size-xl);
}
.rectangle-group {
  top: 50px;
  left: 1220px;
  width: 150px;
  height: 64px;
  color: var(--white-color);
}
.portfolio-blog {
  top: 68px;
  left: 980px;
  color: var(--dark-02);
}
.r {
  color: var(--color-darkorange);
}
.mary {
  position: absolute;
  top: 51px;
  left: 226px;
  font-size: var(--font-size-26xl);
  font-weight: 800;
  color: var(--dark-01);
}
.hi-i-am,
.mary-hardy {
  position: absolute;
  left: 0;
}
.hi-i-am {
  top: 0;
  font-weight: 600;
}
.mary-hardy {
  top: 66px;
  font-size: 85px;
  color: var(--dark-01);
}
.shot-what-able {
  position: absolute;
  top: 202px;
  left: 0;
  font-size: var(--font-size-lg);
  line-height: 30px;
  color: var(--dark-03);
  display: inline-block;
  width: 585px;
}
.group-item,
.hi-i-am-parent {
  position: absolute;
  top: 0;
  left: 0;
}
.hi-i-am-parent {
  width: 585px;
  height: 262px;
  text-align: left;
  font-size: var(--font-size-26xl);
}
.group-item {
  border-radius: var(--br-8xs);
  background-color: var(--color-darkorange);
  width: 200px;
  height: 64px;
}
.download-cv,
.frame-icon {
  position: absolute;
  top: 0;
  left: 34px;
}
.frame-icon {
  top: 2px;
  left: 0;
  width: 24px;
  height: 24px;
  overflow: hidden;
}
.download-cv-parent {
  position: absolute;
  top: 19px;
  left: 17px;
  width: 166px;
  height: 27px;
}
.group-inner,
.rectangle-container {
  position: absolute;
  left: 0;
  height: 64px;
}
.rectangle-container {
  top: 292px;
  width: 200px;
  color: var(--white-color);
}
.group-inner {
  top: 0;
  border-radius: var(--br-8xs);
  border: 1px solid var(--color-darkorange);
  box-sizing: border-box;
  width: 160px;
}
.contact-parent {
  position: absolute;
  top: 19px;
  left: 24px;
  width: 113px;
  height: 27px;
}
.group-div,
.group-parent {
  position: absolute;
  top: 292px;
  left: 230px;
  width: 160px;
  height: 64px;
  color: var(--color-darkorange);
}
.group-parent {
  top: 297px;
  width: 585px;
  height: 356px;
  text-align: center;
  font-size: var(--font-size-xl);
  color: var(--dark-02);
}
.developer {
  position: absolute;
  top: 812px;
  left: 23px;
  font-size: 100px;
  letter-spacing: 0.33em;
  color: rgba(24, 24, 24, 0.15);
  transform: rotate(-90deg);
  transform-origin: 0 0;
}
.frame-item,
.p3olgj1-1-icon {
  position: absolute;
  top: 319px;
  left: 767px;
  width: 1036px;
  height: 518px;
}
.p3olgj1-1-icon {
  top: 161px;
  left: 978px;
  width: 584px;
  height: 676px;
  object-fit: cover;
}
.frame-inner {
  position: absolute;
  top: 967px;
  left: 230px;
  border-radius: 10px;
  background-color: var(--color-seashell);
  width: 1140px;
  height: 550px;
}
.about-me {
  position: absolute;
  top: 0;
  left: 329px;
  color: var(--dark-01);
}
.i-m-a {
  position: absolute;
  top: 78px;
  left: 0;
  font-size: var(--font-size-lg);
  line-height: 30px;
  display: inline-block;
  width: 827px;
}
.name {
  margin: 0;
}
.name-mary-hardy-container {
  position: absolute;
  top: 0;
  left: 0;
  line-height: 30px;
}
.infogmailcom {
  margin: 0;
  color: var(--dark-02);
}
.email-infogmailcom {
  position: absolute;
  top: 0;
  left: 168px;
  line-height: 30px;
}
.date-of-birth-container,
.from-los-angeles-container {
  position: absolute;
  top: 0;
  left: 379px;
  line-height: 30px;
}
.from-los-angeles-container {
  left: 614px;
}
.name-mary-hardy-parent {
  position: absolute;
  top: 228px;
  left: 23px;
  width: 782px;
  height: 60px;
  font-size: var(--font-size-xl);
}
.about-me-parent {
  top: 1098px;
  left: 386px;
  width: 827px;
  height: 288px;
  font-size: var(--font-size-16xl);
}
.about-me-parent,
.i-have-more,
.what-i-do {
  position: absolute;
  text-align: center;
}
.what-i-do {
  top: 1647px;
  left: 717px;
  font-size: var(--font-size-16xl);
  color: var(--dark-01);
}
.i-have-more {
  top: 1725px;
  left: 345px;
  font-size: var(--font-size-lg);
  line-height: 30px;
  display: inline-block;
  width: 909px;
}
.rectangle-div {
  position: absolute;
  top: 1865px;
  left: 230px;
  border-radius: var(--br-8xs);
  background-color: var(--white-color);
  box-shadow: 0 6px 50px rgba(0, 0, 0, 0.06);
  width: 267px;
  height: 377px;
}
.vanilla-javascript {
  position: absolute;
  top: 0;
  left: 0;
  text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  -webkit-text-stroke: 1px #000;
}
.list-skilltechnologies-here {
  position: absolute;
  top: 47px;
  left: 3px;
  font-size: var(--font-size-base);
  line-height: 28px;
  color: var(--dark-03);
  text-align: left;
  display: inline-block;
  width: 201px;
}
.vanilla-javascript-parent {
  position: absolute;
  top: 1969px;
  left: 260px;
  width: 204px;
  height: 243px;
  text-align: center;
  font-size: var(--font-size-xl);
  color: var(--dark-01);
}
.logo-javascript-1-icon {
  position: absolute;
  top: 1895px;
  left: 260px;
  width: 44px;
  height: 44px;
  overflow: hidden;
}
.frame-child1 {
  position: absolute;
  top: 1865px;
  left: 521px;
  border-radius: var(--br-8xs);
  background-color: var(--white-color);
  box-shadow: 0 6px 50px rgba(0, 0, 0, 0.06);
  width: 267px;
  height: 377px;
}
.react {
  position: absolute;
  top: 0;
  left: 0;
}
.list-skilltechnologies-here1 {
  position: absolute;
  top: 47px;
  left: 3px;
  font-size: var(--font-size-base);
  line-height: 28px;
  color: var(--dark-03);
  display: inline-block;
  width: 201px;
}
.react-parent {
  position: absolute;
  top: 1969px;
  left: 551px;
  width: 204px;
  height: 243px;
  font-size: var(--font-size-xl);
  color: var(--dark-01);
}
.group-icon {
  position: absolute;
  height: 0.84%;
  width: 3.12%;
  top: 44.53%;
  right: 62.63%;
  bottom: 54.64%;
  left: 34.25%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.frame-child2 {
  position: absolute;
  top: 1865px;
  left: 812px;
  border-radius: var(--br-8xs);
  background-color: var(--white-color);
  box-shadow: 0 6px 50px rgba(0, 0, 0, 0.06);
  width: 267px;
  height: 377px;
}
.list-skilltechnologies-here2 {
  position: absolute;
  top: 47px;
  left: 0;
  font-size: var(--font-size-base);
  line-height: 28px;
  color: var(--dark-03);
  display: inline-block;
  width: 201px;
}
.nodejs-parent {
  position: absolute;
  top: 1969px;
  left: 845px;
  width: 201px;
  height: 243px;
  font-size: var(--font-size-xl);
  color: var(--dark-01);
}
.nodejs-icon-1 {
  position: absolute;
  top: 1895px;
  left: 842px;
  width: 40px;
  height: 44px;
  overflow: hidden;
}
.frame-child3 {
  position: absolute;
  top: 1865px;
  left: 1103px;
  border-radius: var(--br-8xs);
  background-color: var(--white-color);
  box-shadow: 0 6px 50px rgba(0, 0, 0, 0.06);
  width: 267px;
  height: 377px;
}
.a-summary-of,
.mongodb-parent {
  position: absolute;
  color: var(--dark-01);
}
.mongodb-parent {
  top: 1969px;
  left: 1133px;
  width: 204px;
  height: 243px;
  font-size: var(--font-size-xl);
}
.a-summary-of {
  top: 2372px;
  left: 573px;
  font-size: var(--font-size-16xl);
  text-align: center;
}
.my-education,
.my-experience {
  position: absolute;
  top: 2533px;
  left: 230px;
  font-size: var(--font-size-11xl);
  color: var(--dark-02);
}
.my-experience {
  left: 812px;
}
.list-skilltechnologies-here-container {
  position: absolute;
  top: 91px;
  left: 0;
  line-height: 28px;
  display: inline-block;
  width: 511px;
}
.master-in-computer {
  position: absolute;
  top: 0;
  left: 0;
  font-size: var(--font-size-6xl);
  color: var(--dark-02);
}
.harvard-university {
  position: absolute;
  top: 44px;
  left: 0;
  font-size: var(--font-size-xl);
  font-weight: 600;
}
.list-skilltechnologies-here-group,
.list-skilltechnologies-here-parent {
  position: absolute;
  top: 2604px;
  left: 230px;
  width: 511px;
  height: 175px;
}
.list-skilltechnologies-here-group {
  left: 812px;
}
.list-skilltechnologies-here-parent1,
.list-skilltechnologies-here-parent2 {
  position: absolute;
  top: 2839px;
  left: 230px;
  width: 511px;
  height: 175px;
}
.list-skilltechnologies-here-parent2 {
  left: 812px;
}
.list-skilltechnologies-here-parent3,
.list-skilltechnologies-here-parent4 {
  position: absolute;
  top: 3074px;
  left: 230px;
  width: 511px;
  height: 175px;
}
.list-skilltechnologies-here-parent4 {
  left: 812px;
}
.frame-child4,
.frame-child5,
.frame-child6,
.line-div {
  position: absolute;
  top: 2808.5px;
  left: 229.5px;
  border-top: 1px solid var(--dark-05);
  box-sizing: border-box;
  width: 559px;
  height: 1px;
}
.frame-child4,
.frame-child5,
.frame-child6 {
  left: 811.5px;
}
.frame-child5,
.frame-child6 {
  top: 3043.5px;
  left: 229.5px;
}
.frame-child6 {
  left: 811.5px;
}
.rectangle-parent1 {
  position: absolute;
  top: 3299px;
  left: 700px;
  width: 200px;
  height: 64px;
  text-align: center;
  font-size: var(--font-size-xl);
  color: var(--white-color);
}
.frame-child7 {
  position: absolute;
  top: 3476px;
  left: 0;
  background-color: var(--color-seashell);
  width: 1600px;
  height: 780px;
}
.lets-connect,
.lets-message-me {
  position: absolute;
  top: 3606px;
  left: 230px;
  font-size: var(--font-size-16xl);
  color: var(--dark-01);
  text-align: center;
}
.lets-message-me {
  left: 909px;
}
.please-fill-out {
  position: absolute;
  top: 3674px;
  left: 230px;
  line-height: 28px;
  color: var(--dark-02);
  display: inline-block;
  width: 562px;
}
.frame-child8,
.group-child2 {
  position: absolute;
  top: 3760px;
  left: 230px;
  width: 120px;
  height: 24px;
}
.group-child2 {
  top: 0;
  left: 0;
  border-radius: var(--br-8xs);
  background-color: var(--white-color);
  width: 461px;
  height: 64px;
}
.your-name {
  position: absolute;
  top: 18px;
  left: 30px;
  line-height: 28px;
}
.rectangle-parent2,
.rectangle-parent3 {
  position: absolute;
  top: 3682px;
  left: 909px;
  width: 461px;
  height: 64px;
}
.rectangle-parent3 {
  top: 3770px;
}
.group-child4,
.rectangle-parent4 {
  position: absolute;
  width: 461px;
  height: 180px;
}
.group-child4 {
  top: 0;
  left: 0;
  border-radius: var(--br-8xs);
  background-color: var(--white-color);
}
.rectangle-parent4 {
  top: 3858px;
  left: 909px;
}
.submit {
  position: absolute;
  top: 18px;
  left: 39px;
}
.rectangle-parent5 {
  position: absolute;
  top: 4062px;
  left: 909px;
  width: 150px;
  height: 64px;
  text-align: center;
  font-size: var(--font-size-xl);
  color: var(--white-color);
}
.mongo-1-icon {
  position: absolute;
  top: 1897px;
  left: 1136px;
  width: 44px;
  height: 44px;
  object-fit: cover;
}
.rectangle-parent {
  position: relative;
  background-color: var(--white-color);
  width: 100%;
  height: 4256px;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-base);
  color: var(--dark-03);
  font-family: var(--font-open-sans);
}
