
/* Active tab neon */
.monaco-workbench
  .part.editor
  > .content
  .editor-group-container
  > .title
  .tabs-container
  > .tab.active {
  position: relative;
  --tab-border-bottom-color: transparent !important;
}

/* Active tab stripe */
.monaco-workbench
  .part.editor
  > .content
  .editor-group-container
  > .title
  .tabs-container
  > .tab.active::before {
  content: "";
  position: absolute;
  bottom: -1px;
  left: 0;
  right: 0;
  height: 4px;
  background: linear-gradient(to right, #fc28a8, #03edf9) !important;
	animation: animate 0.5s linear ; 
}
@keyframes animate { 
  0% { 
    right: 100%; 
  }

  500% { 
    left: 100%; 
  } 
/* 
  0% { 
    right: 0; 
  }  */
} 


/* Change the appearance of the cursor */
.monaco-editor .cursor {
  /* background: linear-gradient(to bottom, #8a2dc0, #fff700, #fff700,  #8a2dc0 ); */
  box-shadow: 0 0 5px #fcfc19;
  /* border-color: #8a2dc0; */
  color: #241b2f;
}

/* Change the appearance of selected text in input boxes */
.monaco-inputbox > .wrapper > textarea.input::selection {
  background-color: rgba(255, 255, 255, 0.3); /* Set a semi-transparent background color for selected text */
}

/* Change the appearance of line numbers */
.monaco-editor .line-numbers {
  color: #8a2dc066; /* Change the line number color */
  text-shadow: 0 0 2px #393a33, 0 0 35px #ffffff44, 0 0 10px #8a2dc066, 0 0 2px #8a2dc066; /* Add text shadow effect */
}
